.home-container {
    display: flex;
    max-width: 90vw;
    height: 100vh;
    padding: 3rem;
    margin: 0rem 0rem 1rem 10rem;
    align-items: center;
  }
  .home-p {
    padding: 2rem;
    align-items: left;
    max-width: 40vw;
  }
  .home-p2 {
    padding: 2rem 6rem;
    align-items: center;
    display: flex;
    max-width: 95vw;
  }
  @media(max-width: 768px) {
    .home-container {
      padding: .1rem;
      margin: .1rem;
      height: 78vh;
    }
    img {
      width: 50%;
      height: 50%;
      margin: 1rem;
    }
    .home-p {
      padding: 1rem;
      align-items: center;
      display: flex;
      font-size: 14px;
    }
    .home-p2 {
      padding: 1rem;
      margin: 1rem;
      align-items: center;
      font-size: 14px;
    }
  }

  @media(max-width: 570px){

  }